// colors used
$primary-color: #114B9F;
$light-blue: #0062D7;
$light-gray: #F8F8F8;
$white: #ffff;
$black: #111111;
$light-black: #01070F;
$light-brwon: #202020;
// fonts family 
$font-Raleway: "Raleway", sans-serif;
$font-jakarta: "Plus Jakarta Sans", sans-serif;
$font-Open: "Open Sans", sans-serif;