.about {
  position: relative;

  &::after {
    content: url("/assets/images/before-icon.svg");
    position: absolute;
    top: 0;
    right: 0;
  }

  &__cont {
    max-width: 1247px;
    width: 100%;
    padding-inline: 1rem;
    margin-inline: auto;
    @include d-flex(row, center, space-between);
    gap: 52px;
    position: relative;

    &:before {
      content: url("/assets/images/before-icon.svg");
      position: absolute;
      bottom: -28%;
      left: -50px;
      transform: rotate(-180deg);
    }
  }

  &__left {
    max-width: 590px;
    width: 100%;
  }

  &__img {
    & img {
      max-width: 590px;
    }
  }

  &__right {
    max-width: 572px;
    width: 100%;
  }

  &__heading {
    font-size: $fs-4xl;
    font-weight: $fw-semibold;
    line-height: 120%;
    margin-bottom: 0.75rem;
  }

  &__blue {
    color: $primary-color;
  }

  &__desc {
    margin-bottom: 0.5rem;
    color: $black;

    &:last-child {
      margin-bottom: 0px;
    }
  }

}