.project {
  position: relative;
  max-width: 1300px;
  margin-inline: auto;
  width: 100%;
  background-color: $turquoise;
  margin-bottom: 152px;
  padding-block: 70px;
  border-radius: 2rem;


  &::before {
    content: url("/assets/images/before-icon.svg");
    position: absolute;
    top: 0;
    left: -60px;
    transform: rotate(-180deg);
    z-index: -2;
  }

  &::after {
    content: url("/assets/images/before-icon.svg");
    position: absolute;
    bottom: 0;
    right: -60px;
    z-index: -2;
  }

  &__inner {
    @include d-flex(row, center, space-between);
    gap: 1rem;
    margin-bottom: 52px
  }

  &__pgnt {
    @include d-flex(row, flex-start, flex-start);
    width: 100%;
    max-width: 84px;
    position: relative;
    gap: 0.75rem;
  }

  &__desc {
    max-width: 453px;
    width: 100%;
  }

  &__next,
  &__prev {
    max-width: 36px;
    height: 36px;
    max-height: 30px;
    padding: 11px 15px 11px 13px;
    border-radius: 50%;
    background: $primary-color;
    z-index: 999;

    &::after,
    &::before {
      font-size: 13px;
      max-width: 8px;
      max-height: 13px;
      color: $white;
    }
  }

  &__heading {
    margin-bottom: 0.75rem;
    color: $black;
  }

  &__cards {
    @include d-flex(row, flex-start, space-between);
    gap: 1rem;
    margin-bottom: 50px;
  }

  &__card {
    max-width: 362px;
    width: 100%;
    padding: 1rem;
    background-color: $white;
    border-radius: 0.75rem;
  }

  &__img {
    margin-bottom: 1rem;

    & img {
      max-width: 330px;
      border-radius: .5rem
    }
  }

  &__cardHeding {
    font-size: $fs-2xl;
    font-weight: $fw-semibold;
    line-height: 145%;
    margin-bottom: 2px;
    color: $black;
  }

  &__cardDesc {
    margin-bottom: 6px;
    color: $black;
  }

  &__cardTitle {
    margin-bottom: 1rem;
    font-size: $fs-2xl;
    font-weight: $fw-semibold;
    line-height: 145%;
  }

  &__black {
    color: $black;
  }

  &__locationNme {
    color: $black;
  }

  &__cardDesc {
    margin-bottom: 6px;
  }

  &__details {
    @include d-flex(row, flex-start, space-between);
    flex-wrap: wrap;
    gap: 0.75rem;
  }

  &__detailsRgt,
  &__detailsLft {
    @include d-flex(row, center, flex-start);
    gap: 0.5rem;
  }

  &__location {
    max-width: 24px;
    background-color: $turquoise;
    border-radius: 2px;
    padding: 4px;

    & img {
      max-width: 16px;
      display: block;
    }
  }

  & .swiper {
    position: relative;

    &-pagination {
      bottom: -4px;
    }

    &-wrapper {
      margin-inline: auto !important;
    }

    &-slide {
      width: 362px;
      margin-inline: auto;
    }

    &-slide.swiper-slide-active {
      width: 362px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span.swiper-pagination-bullet {
      height: 11px;
      width: 11px;
      border: 0.6px solid $primary-color;
      background-color: $white;
    }

    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $primary-color;
      height: 14px;
      width: 14px;
      border: transparent;
    }
  }

  // media query 1399
  @media (max-width:1399px) {
    overflow: hidden;

  }

  // media query 1199
  @include desktop {
    overflow: hidden;
  }

  // media query 1024

  @include smallDesktop {
    margin-bottom: 5rem;
  }

  // media query 768
  @include largeMobile {
    margin-bottom: 4rem;
    padding-block: 3rem;
    border-radius: unset;

    &__heading {
      font-size: 2rem;
    }
  }

  // media query 480
  @include mobile {
    margin-bottom: 3rem;
    padding-block: 2rem;

    &__heading {
      text-align: center;
      font-size: 1.5rem;
    }

    &__card {
      margin-inline: auto;
    }
  }

}