.topNav {
  background-color: $primary-color;

  &__cont {
    @include d-flex(row, center, flex-end);
  }

  &__list {
    @include d-flex(row, center, space-between);
    gap: 2rem;
    padding: 6px 0px 7px 0px;
  }

  &__link {
    color: $light-gray;
    font-family: $font-Open;
    font-size: 0.75rem;
    font-weight: $fw-regular;
    line-height: 155%;
  }

  // media query 768
  @include largeMobile {
    &__cont {
      justify-content: center;
    }
  }

  // media query 480
  @include mobile {
    &__list {
      gap: 0.75rem;
    }

    &__link {
      font-size: 0.625rem;
    }
  }

}